<div [ngClass]="filtersClassList()">
    <app-text-filter (textSearch)="onTextSearch($event)"></app-text-filter>
    @if (mobile()) {
        <button mat-button (click)="openFilterDialog()">
            <mat-icon>filter_list</mat-icon>
            Ordenar e filtrar
        </button>
    } @else {
        <app-user-filter-toolbar
            [active]="active()"
            [deleted]="deleted()"
            [sort]="mobileSort()"
            [showCancelButton]="true"
            [vertical]="false"
            [showSort]="true"
            (onClose)="closeFilterMenu($event)"></app-user-filter-toolbar>
    }
</div>
