table {
  table-layout: fixed;
}

thead,
tbody {
  width: 100%;
}

th,
td {
  width: auto !important;
  white-space: nowrap;
}

.shrink {
  // background-color: yellow;
  width: 77px !important;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}
