<mat-form-field appearance="outline">
    @if (textArea?.label != null && textArea?.label != undefined) {
        <mat-label>{{ textArea?.label }}</mat-label>
    }
    <textarea
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="6"
        [id]="textArea?.id || ''"
        [name]="textArea?.name || ''"
        [type]="textArea?.type!"
        [placeholder]="textArea?.placeholder || ''"
        [tabindex]="textArea?.focusable ? 0 : -1"
        [minlength]="getMinLength(textArea)"
        [maxlength]="getMaxLength(textArea)"
        [formControl]="textArea?.control!"
        (blur)="textArea?.onBlur ? textArea?.onBlur() : false"></textarea>
    <mat-error>
        {{ textArea?.errorMessageFn ? textArea?.errorMessageFn() : "" }}
    </mat-error>
</mat-form-field>
