<mat-form-field
    id="text-query-field"
    class="search"
    [classList]="['text-query-field']"
    appearance="outline"
>
    <input
        id="text-query-input"
        matInput
        type="text"
        [formControl]="searchControl"
        placeHolder="Pesquisar"
        (keypress)="onTextSearch($event)"
    />
    @if (textQuery) {
        <button
            id="clean-search-button"
            type="button"
            matSuffix
            mat-icon-button
            aria-label="Limpar busca de texto"
            (click)="cleanTextSearch()"
        >
            <mat-icon class="clean-search-icon">close</mat-icon>
        </button>
    }
</mat-form-field>
