<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- main error -->
    @if (loading) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    @if (mainError) {
        <app-alert
            [showCloseButton]="true"
            type="danger"
            icon="warning"
            (onClose)="mainError = undefined">
            {{ mainError }}
        </app-alert>
    }

    <!-- hash -->

    <input id="hash-input" formControlName="hash" type="hidden" />

    <!-- password -->
    <mat-form-field id="password-field" appearance="outline">
        <mat-label>Senha</mat-label>
        <input
            id="password-input"
            formControlName="password"
            matInput
            [type]="showPassword ? 'text' : 'password'"
            autocomplete="off"
            [maxlength]="maxPasswordLength"
            class="material-icons-outlined"
            autocomplete="new-password"
            (blur)="onPasswordBlur($event)" />
        <mat-icon
            id="show-password-icon"
            matSuffix
            (click)="togglePasswordVisibility($event)">
            {{ showPassword ? "visibility" : "visibility_off" }}
        </mat-icon>

        <mat-error id="password-error">
            {{ getPasswordErrorMessage() }}
        </mat-error>
    </mat-form-field>

    <!-- repeat password -->
    <mat-form-field id="repeat-password-field" appearance="outline">
        <mat-label>Repita a Senha</mat-label>
        <input
            id="repeat-password-input"
            formControlName="repeatPassword"
            matInput
            [type]="showRepeatPassword ? 'text' : 'password'"
            [maxlength]="maxPasswordLength"
            class="material-icons-outlined"
            autocomplete="off"
            autocomplete="new-password" />
        <mat-icon
            matSuffix
            id="show-repeat-password-icon"
            (click)="toggleRepeatPasswordVisibility($event)">
            {{ showRepeatPassword ? "visibility" : "visibility_off" }}
        </mat-icon>

        <mat-error id="repeat-password-error">
            {{ getRepeatPasswordErrorMessage() }}
        </mat-error>
    </mat-form-field>

    <!-- atrualizar senha -->
    <button
        mat-flat-button
        id="new-password"
        type="submit"
        [disabled]="loading">
        Salvar Senha
    </button>
</form>
