.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 1rem;

  border: 1px solid transparent;
  border-radius: 0.25rem;
}

// color reference: https://ng-bootstrap.github.io/#/components/alert/examples
// https://getbootstrap.com/docs/5.0/components/alerts/

.container.success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}
.container.info {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
}
.container.warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}
.container.danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}
.container.primary {
  color: #084298;
  background-color: #cfe2ff;
  border-color: #b6d4fe;
}
.container.secondary {
  color: #41464b;
  background-color: #e2e3e5;
  border-color: #d3d6d8;
}
.container.light {
  color: #636464;
  background-color: #fefefe;
  border-color: #fdfdfe;
}
.container.dark {
  color: #141619;
  background-color: #d3d3d4;
  border-color: #bcbebf;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.message {
}

.button {
  // display: flex;
  // align-items: center;
}
