::-webkit-scrollbar {
  width: 8px;
  overflow-y: scroll;
  background-color: transparent;
  // box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: rgba(120, 120, 120, 0.1);
  transition: background 0.3s ease-in-out;
  opacity: 50%;
  border-radius: 4px;
}
:hover::-webkit-scrollbar-thumb {
  background: rgba(120, 120, 120, 0.5); /* Aparece ao passar o mouse */
}

body {
  scrollbar-gutter: stable;
}
