<table mat-table [dataSource]="dataSource()" matSort>
    <!-- Name Column -->
    <ng-container [matColumnDef]="name().columnId">
        <th mat-header-cell *matHeaderCellDef>
            <app-header-item
                [id]="name().columnId"
                [label]="name().label"
                [direction]="name().direction"
                [disabled]="loading()"
                [sortable]="true"
                (onSelect)="onSelectBySort($event)"></app-header-item>
        </th>

        <td mat-cell *matCellDef="let user" [matTooltip]="user.name">
            <app-row-item
                [loading]="!!loading()"
                [label]="user.name"
                [toolTip]="user.name">
                {{ user.name }}
            </app-row-item>
        </td>
    </ng-container>

    <!-- E-mail Column -->

    <ng-container [matColumnDef]="email().columnId">
        <th mat-header-cell *matHeaderCellDef>
            <app-header-item
                [id]="email().columnId"
                [label]="email().label"
                [direction]="email().direction"
                [disabled]="loading()"
                [sortable]="true"
                (onSelect)="onSelectBySort($event)"></app-header-item>
        </th>
        <td mat-cell *matCellDef="let user">
            <app-row-item
                [loading]="loading()"
                [toolTip]="user.email"
                [label]="user.email">
                {{ user.email }}
            </app-row-item>
        </td>
    </ng-container>

    <!-- Active Column -->

    <ng-container [matColumnDef]="active().columnId">
        <th mat-header-cell *matHeaderCellDef class="shrink">
            <app-header-item
                [id]="active().columnId"
                [label]="active().label"
                [direction]="active().direction"
                [disabled]="loading()"
                [sortable]="activeSortable()"
                (onSelect)="onSelectBySort($event)"></app-header-item>
        </th>
        <td
            mat-cell
            *matCellDef="let user"
            class="active shrink"
            sortActionDescription="Ordenar por ativo">
            <app-row-item
                icon="checked"
                [toolTip]="user.active ? 'Ativo' : undefined"
                [loading]="loading()"
                [disabled]="!user.active"></app-row-item>
        </td>
    </ng-container>

    <!-- Deleted Column -->

    <ng-container [matColumnDef]="deleted().columnId">
        <th mat-header-cell *matHeaderCellDef class="shrink">
            <app-header-item
                [id]="deleted().columnId"
                [label]="deleted().label"
                [direction]="deleted().direction"
                [sortable]="deletedSortable()"
                [disabled]="loading()"
                (onSelect)="onSelectBySort($event)"></app-header-item>
        </th>
        <td
            mat-cell
            *matCellDef="let user"
            class="shrink"
            [matTooltip]="user.deleted ? 'Deletado' : undefined">
            <app-row-item
                icon="checked"
                [toolTip]="user.deleted ? 'Deletado' : undefined"
                [loading]="loading()"
                [disabled]="!user.deleted"></app-row-item>
        </td>
    </ng-container>

    <!-- Headers -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

    <tr
        mat-row
        class="mat-row"
        *matRowDef="let row; columns: displayedColumns"
        (click)="fireRowClickEvent($event, row)"></tr>
</table>
