<form [formGroup]="formGroup" class="grid">
    <!-- loading progress TODO: mover para a barra principal? -->

    @if (loading) {
        <div [attr.col]="12">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    }

    <!-- main error -->

    @if (mainError) {
        <div [attr.col]="12">
            <app-alert
                [showCloseButton]="true"
                type="danger"
                icon="warning"
                (onClose)="mainError = undefined">
                {{ mainError }}
            </app-alert>
        </div>
    }

    <!-- email  -->

    <div [attr.col]="12">
        <app-text-field
            id="email-input"
            [mask]="TextMask.email"
            label="Email"
            [inputMode]="InputMode.email"
            [control]="formGroup.controls.email"
            [format]="TextFormat.email"
            [autocomplete]="AutoCompleteType.on"
            [maxLength]="EmailConstants.MAX_LENGTH" />
    </div>

    <!-- password -->

    <div [attr.col]="12">
        <app-password-field
            id="password-input"
            label="Senha"
            [control]="formGroup.controls.password"
            [autocomplete]="AutoCompleteType.current_password"
            [minLength]="UserConfigs.PASSWORD_MIN_LENGTH"
            [maxLength]="UserConfigs.PASSWORD_MAX_LENGTH" />
    </div>

    <!-- login button -->

    <div [attr.col]="12">
        <app-button
            id="login-button"
            [type]="FormElementType.button"
            label="Login"
            [appearance]="ButtonAppearance.filled"
            [disabled]="!!loading"
            (onClick)="onSubmit()" />
    </div>

    <!-- register button -->

    <div [attr.col]="12">
        <app-button
            id="register-button"
            [type]="FormElementType.button"
            label="Não tem tem uma conta? <b>Cadastre-se</b>"
            [appearance]="ButtonAppearance.outlined"
            [disabled]="!!loading"
            routerLink="/register" />
    </div>
</form>
