<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- main error -->
    @if (loading) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    @if (mainError) {
        <app-alert
            [showCloseButton]="true"
            type="danger"
            icon="warning"
            (onClose)="mainError = undefined">
            {{ mainError }}
        </app-alert>
    }

    <app-form [elements]="elements" />

    <!-- accept terms -->
    <!-- <mat-checkbox
        id="accept-terms-checkbox"
        color="basic"
        [classList]="[acceptTermsHasError ? 'invalid' : '']"
        formControlName="acceptTerms"
        (focus)="acceptTermsBlurred = false"
        (blur)="acceptTermsBlurred = true">
        Aceito os Termos de Serviço *
    </mat-checkbox> -->

    <!-- register -->
    <button mat-flat-button id="register" type="submit" [disabled]="loading">
        Registrar
    </button>

    <!-- login -->
    <button
        mat-stroked-button
        id="login"
        type="button"
        [disabled]="loading"
        routerLink="/login">
        Já tem uma conta?
        <b>Login</b>
    </button>
</form>
