<mat-form-field appearance="outline">
    @if (input?.label != null && input?.label != undefined) {
        <mat-label>{{ input?.label }}</mat-label>
    }

    @let format = input?.format;
    @let visible = isVisible(input);
    @let normalizedInputType =
        format == TextInputFormat.password && !visible
            ? FormElementType.password
            : input?.type;

    @if (input?.prefix) {
        <span matTextPrefix>{{ input?.prefix }}</span>
    }
    <input
        matInput
        [id]="input?.id || ''"
        [name]="input?.name || ''"
        [type]="normalizedInputType!"
        [placeholder]="input?.placeholder || ''"
        [tabindex]="input?.focusable ? 0 : -1"
        [attr.min]="getMin(input)"
        [attr.max]="getMax(input)"
        [attr.step]="getStep(input)"
        [minlength]="getMinLength(input)"
        [maxlength]="getMaxLength(input)"
        [mask]="input?.mask"
        [thousandSeparator]="getThousandSeparator(input)"
        [allowNegativeNumbers]="getAllowNegativeNumbers(input)"
        [decimalMarker]="getDecimalMarker(input)"
        [class.align-right]="
            input?.format == TextInputFormat.float ||
            input?.format == TextInputFormat.integer
        "
        [formControl]="input!.control"
        (blur)="input?.onBlur ? input?.onBlur() : false" />

    @if (format == TextInputFormat.password) {
        <button
            mat-icon-button
            matSuffix
            (click)="toggleVisibility(input)"
            type="button">
            <mat-icon>
                {{ visible ? "visibility_off" : "visibility" }}
            </mat-icon>
        </button>
    }

    @if (input?.suffix) {
        <span matTextSuffix>{{ input?.suffix }}</span>
    }
    <mat-error>
        {{ input?.errorMessageFn ? input?.errorMessageFn() : "" }}
    </mat-error>
</mat-form-field>
