<mat-toolbar>
    <!-- theme button -->
    <button
        mat-icon-button
        aria-label="Botão menu"
        color="primary"
        (click)="fireToggleMenuEvent($event)">
        <mat-icon>menu</mat-icon>
    </button>

    <!-- title -->
    <span>Meus Produtos</span>

    <!-- spacer -->
    <span class="spacer"></span>

    <!-- theme button -->
    <button
        mat-icon-button
        aria-label="Botão alternar tema"
        (click)="fireToggleThemeEvent($event)">
        <mat-icon>{{ theme }}</mat-icon>
    </button>

    <!-- user button -->

    <button mat-icon-button aria-label="Botão usuário" [routerLink]="'login'">
        <mat-icon>person</mat-icon>
    </button>
</mat-toolbar>
