#container {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  &.label.icon {
    gap: 0.5em;
    grid-template-columns: auto 1fr;
  }
  &:not(.label).icon {
    justify-items: center;
  }
}

#icon.disabled {
  opacity: 0.05;
}
