<form [formGroup]="formGroup" class="grid">
    <!-- loading progress TODO: mover para a barra principal? -->

    @if (loading) {
        <div [attr.col]="12">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    }

    <!-- main error -->

    @if (mainError) {
        <div [attr.col]="12">
            <app-alert
                [showCloseButton]="true"
                type="danger"
                icon="warning"
                (onClose)="mainError = undefined">
                {{ mainError }}
            </app-alert>
        </div>
    }

    <!-- email  -->

    <div [attr.col]="12">
        <app-text-field
            id="email-input"
            [mask]="TextMask.email"
            label="Email"
            [inputMode]="InputMode.email"
            [control]="formGroup.controls.email"
            [format]="TextFormat.email"
            [autocomplete]="AutoCompleteType.on"
            [maxLength]="EmailConstants.MAX_LENGTH" />
    </div>

    <!-- request button -->

    <div [attr.col]="12">
        <app-button
            id="request-button"
            [type]="FormElementType.button"
            label="Mudar senha"
            [appearance]="ButtonAppearance.filled"
            [disabled]="!!loading"
            (onClick)="onSubmit()" />
    </div>

    <!-- cancel button -->

    <div [attr.col]="12">
        <app-button
            id="cancel-button"
            [type]="FormElementType.button"
            label="Cancelar"
            [appearance]="ButtonAppearance.outlined"
            [disabled]="!!loading"
            routerLink="/" />
    </div>
</form>
