<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- main error -->
    @if (loading) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    @if (mainError) {
        <app-alert
            [showCloseButton]="true"
            type="danger"
            icon="warning"
            (onClose)="mainError = undefined">
            {{ mainError }}
        </app-alert>
    }

    <!-- email -->
    <mat-form-field id="email-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input
            id="email-input"
            formControlName="email"
            matInput
            type="email"
            autocomplete="on"
            [maxlength]="maxEmailLength" />
        <mat-error id="email-error">{{ getEmailErrorMessage() }}</mat-error>
    </mat-form-field>

    <!-- request password change link button -->
    <button
        mat-flat-button
        id="request-password-change-link"
        type="submit"
        [disabled]="loading">
        Request password change
    </button>
</form>
