@use "./button.scss";
@use "./input.scss";
@use "./checkbox.scss";
@use "./select.scss";
@use "./radio-buttons.scss";

form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 24px;
}
