<!-- justify content class -->
@let justifyContentClass =
    justifyContent() ? "justify-content-" + justifyContent() : "";

<!-- align item class -->
@let alignItemsClass = alignItems() ? "align-items-" + alignItems() : "";

<!-- form classess -->
@let formClasses = [justifyContentClass, alignItemsClass];

<form [class]="formClasses" [class.flex-grid]="true">
    @for (e of formElements(); track $index) {
        <!-- col size class -->
        @let colSizeClass = e.colSize ? "col-" + e.colSize : "";

        <!-- offset class -->
        @let colOffsetClass = e.colOffset ? "offset-" + e.colOffset : "";

        <!-- wraper classes -->
        @let wrapperClasses = ["field-wrapper", colSizeClass, colOffsetClass];
        <div [class]="wrapperClasses">
            @switch (e.type) {
                <!-- TEXT INPUT -->
                @case (FormElementType.text) {
                    @let textField = castToTextFieldModel(e);
                    @if (textField.format == TextFormat.number) {
                        @let numericField = castToNumericFieldModel(textField);
                        <app-numeric-field
                            [id]="numericField.id"
                            [label]="numericField.label"
                            [placeholder]="numericField.placeholder"
                            [control]="numericField.control"
                            [focusable]="numericField.focusable"
                            [readOnly]="numericField.readOnly"
                            [minLength]="numericField.minLength"
                            [maxLength]="numericField.maxLength"
                            [min]="numericField.min"
                            [max]="numericField.max"
                            [step]="numericField.step"
                            [prefix]="numericField.prefix"
                            [suffix]="numericField.suffix"
                            [allowNegativeNumbers]="
                                numericField.allowNegativeNumbers
                            "
                            [decimalPlaces]="numericField.decimalPlaces"
                            (onBlur)="
                                numericField.onBlur
                                    ? numericField.onBlur()
                                    : false
                            " />
                    } @else {
                        <app-text-field
                            [id]="textField.id"
                            [mask]="textField.mask"
                            [label]="textField.label"
                            [placeholder]="textField.placeholder"
                            [control]="textField.control"
                            [focusable]="textField.focusable"
                            [readOnly]="textField.readOnly"
                            [format]="textField.format"
                            [minLength]="textField.minLength"
                            [maxLength]="textField.maxLength"
                            [prefix]="textField.prefix"
                            [suffix]="textField.suffix"
                            (onBlur)="
                                textField.onBlur ? textField.onBlur() : false
                            " />
                    }
                }
                <!-- TEXT AREA -->
                @case (FormElementType.textArea) {
                    @let textAreaField = castToTextAreaFieldModel(e);
                    <app-text-area-field
                        [id]="textAreaField.id"
                        [label]="textAreaField.label"
                        [placeholder]="textAreaField.placeholder"
                        [control]="textAreaField.control"
                        [focusable]="textAreaField.focusable"
                        [minLength]="textAreaField.minLength"
                        [maxLength]="textAreaField.maxLength"
                        [autosizeMinRows]="textAreaField.autosizeMinRows"
                        [autosizeMaxRows]="textAreaField.autosizeMaxRows"
                        (onBlur)="
                            textAreaField.onBlur
                                ? textAreaField.onBlur()
                                : false
                        " />
                }

                <!-- SELECT -->
                @case (FormElementType.select) {
                    @let selectField = castToSelectFieldModel(e);
                    <app-select-field
                        [id]="selectField.id"
                        [label]="selectField.label"
                        [control]="selectField.control"
                        [options]="selectField.options"
                        [focusable]="selectField.focusable" />
                }
                <!-- RADIO BUTTONS -->
                @case (FormElementType.radioGroup) {
                    @let radioGroup = castToRadioGroupModel(e);

                    <app-radio-group
                        [id]="radioGroup.id"
                        [label]="radioGroup.label"
                        [control]="radioGroup.control"
                        [focusable]="radioGroup.focusable"
                        [options]="radioGroup.options"
                        [focusable]="radioGroup.focusable" />
                }
                <!-- CHECKBOX -->
                @case (FormElementType.checkbox) {
                    @let checkbox = castToCheckboxModel(e);
                    <app-checkbox
                        [id]="checkbox.id"
                        [label]="checkbox.label"
                        [control]="checkbox.control"
                        [focusable]="checkbox.focusable" />
                }
                <!-- LABEL -->
                @case (FormElementType.label) {
                    @let label = castToLabelModel(e);
                    <mat-label class="app-form-label">
                        {{ label.value }}
                    </mat-label>
                }
                <!-- DIVIDER -->
                @case (FormElementType.divider) {
                    <mat-divider class="app-divider" />
                }
                <!-- BUTTON -->
                @case (FormElementType.button) {
                    @let button = castToButtonModel(e);
                    <app-button
                        [icon]="button.icon"
                        [label]="button.label"
                        [style]="button.style"
                        (onClick)="
                            button.clickCallback
                                ? button.clickCallback($event)
                                : false
                        " />
                }
            }
        </div>

        @if (e.breakLine) {
            <div class="break"></div>
        }
    }
</form>
