<div id="container" [ngClass]="containerClasses()">
    <!-- left side -->
    <div id="left-column">
        <div
            id="name"
            [ngClass]="nameClasses()"
            [matTooltip]="name()"
            aria-label="Nome">
            {{ name() }}
        </div>
        <div
            id="email"
            [ngClass]="emailClasses()"
            [matTooltip]="email()"
            aria-label="Email">
            {{ email() }}
        </div>
    </div>
    <!-- right side -->
    <div id="right-column">
        <!-- active -->
        <mat-icon
            id="active"
            [ngClass]="activeClasses()"
            [matTooltip]="activeTooltip()"
            aria-label="Ícone ativo">
            {{ activeIcon() }}
        </mat-icon>
        <!-- deleted -->
        <mat-icon
            id="deleted"
            [ngClass]="deletedClasses()"
            [matTooltip]="deletedTooltip()"
            aria-label="Ícone deletado">
            {{ deletedIcon() }}
        </mat-icon>
    </div>
</div>
