#container {
    display: grid;
    grid-template-columns: 1fr auto;
}

#left-column {
    padding: 1em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    gap: 0.5em;
}

#name {
    font-weight: 500;
    font-size: medium;
}

#email {
    font-size: small;
}

#right-column {
    align-items: center;
    // padding: 1em;
    display: flex;
    flex-direction: row;
    gap: 1em;
}
